<h2>Double Bookings</h2>
<br />
@{
    var doubleBookings = ViewBag.DoubleBookings;

    if (ViewBag.DoubleBookings != null)
    {
        <table id="tblDoubleBookings">
            <col width="130">
            <col width="200">
            <col width="500">
            <thead>
            <th>Booking Date</th>
            <th>Authority</th>
            <th>Search Clerk</th>
            </thead>
            @foreach (var row in ViewBag.DoubleBookings)
            {
                <tr>
                    <td>
                        @row.BookingDate.ToString("dd/MM/yy")
                    </td>
                    <td>
                        @row.Authority.Name
                    </td>
                    <td>
                        @row.SearchClerk.Name
                    </td>
                </tr>
            }
        </table>
    }
}
